body {
  padding: 32px;
}

.button {
  // Default
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //
  //// Custom
  //height: 32px;
  //border-radius: 2px;
  //min-width: 120px;

  &-accent {
    background-color: #0078d4;
  }

  &-default {
    background-color: #efefef;
  }

  &-text {
    background: none;
  }
}

.button--text {
  // Custom
  font-family: 'Segoe UI', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  &-accent {
    color: #ffffff;
  }
}
